img {
  width: 100%;
}

.main_container {
  background-color: black;
}

.upper_row, .lower_row {
  display: flex;
}

.card_wrap {
  margin: 4px;
  display: flex;
}
.middle_row {
  display: flex;
  justify-content: space-between;
}
.home_page_title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.small_title_text, .big_title_text {
  color: white;
  text-align: center;
}
.small_title_text {
  font-size: 25px;
}
.big_title_text {
  font-size: 55px;
}

.search_form {
  display: flex;
}

.search_input {
  padding: 10px;
  margin-right: 15px;
  border: 2px solid white;
  border-radius: 25px;
  width: 100%;
  outline: none;
}

.search_button {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: #000002;
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  border-color: white;
}

.searchedShowsContainer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.searchedShowsContainer .card_wrap {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  margin: 10px;
}

.searchedShowsContainer a {
  text-decoration: none;
}
.searchedShowsContainer p {
  margin: 0;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.searchedShowsContainer a:hover p {
  color: #545454;
}

.searchedShowsContainer .favorites {
  font-size: 16px;
  font-weight: 500;
}
.searchedShowsContainer .favorites:hover {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: red;
}

.favorites span {
  font-size: 25px;
}

.favorites span:hover {
  color: red;
}
